:root {
    --veryLightPink: #C7C7C7;
    --white: #FFFFFF;
    --textInputField: #F7F7F7;
    --black: #000000;
    --hospitalGreen: #ACD9B2;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
